
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.active hr {
   display: block;
}
.banner{
  font-family:'Courier New', Courier, monospace}

@media(max-width:640px){
  a.active{
    background-color: black;
    color:white
  }
}